
<% if notice %>

<div class="modal fade" id="notice" tabindex="-1" role="dialog" aria-labelledby="noticeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-body">
        <font size="+1" color="red" > <%= notice %> </font>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
</div>

<script>$('#notice').modal()</script>

<% end %>